/* Add CSS Styling */
.odd {
  background-color: #f8a0a7;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#no2 {
  color: #0000ff;
  font-size: 36px;
}

.large {
  font-size: 24px;
}

#no4 {
  background-color: #80ef80;
  font-size: 24px;
  font-weight: bold;
}
